@import luke.lunatech.DataManager
@import luke.lunatech.model.Airport

@(airports: List[Airport])

  @main("Airports") {

    <h1 class="homeT">-- Airports --</div></h1>

    <table>
      <thead>
        <tr class="listT"><th>Id</th><th>Name</th>
      </thead>
      <tbody>
	    @for(a <- airports) {
      
        <tr><td><a href="">@a.id</a></td><td><a href="">@a.name</a></td></tr>
      }
      </tbody>
    </table>
    
    <br />
    <hr/>
  }
