@import luke.lunatech.DataManager
@import luke.lunatech.model.Country

@(country:Country)

  @main("Runways report - @country.name") {

    <h1 class="homeT">Runways report - @country.name</div></h1>

    <table>
      <thead>
        <tr class="listT"><th>Rank</th><th>Surface</th><th>No. Runways</th></tr>
      </thead>
      <tbody>
        @defining(DataManager.getRunwayTypes(List(country)).sortBy(_._2).reverse) { runwayTypes =>
          @for(i <- 0 until runwayTypes.length) {
            <tr><td>@(i+1)/@runwayTypes.size</td><td>@runwayTypes(i)._1</td><td>@runwayTypes(i)._2</td>
          }
        }
      </tbody>
    </table>

    
  }
