@import luke.lunatech.DataManager
@import luke.lunatech.model.Country

@(country: Country)

  @main("Countries") {

    <h1 class="homeT">-- @country.name --</div></h1>

    <table>
      <thead>
        <tr class="listT"><th>Airport</th>
      </thead>
      <tbody>
      @for(a <- country.airports.toList) {
        @airport(a)
      }
      </tbody>
    </table>
  }
