@import luke.lunatech.DataManager
@import luke.lunatech.model.Country

@(country: Country)

  @mainCss("Countries") {

    <!--<div>
      <h1 style="text-align:center;">-- @country.name --</h1>
    </div>-->

    <div class="limiter">
      <div class="container-table100">
        <div class="wrap-table100">
          <div>
            <h1 style="text-align:center;">@country.name Airports</h1>
          </div>
          <div class="table100 ver1 m-b-110">
            <div class="table100-head">
              <table>
                <thead>
                  <!--<tr class="row100 head"><th class="cell100 column1">Airport name</th><th class="cell100 column2">le_ident</th><th class="cell100 column3">Surface</th></tr>-->
                  <tr class="row100 head"><th class="cell100 column1">Airport name</th><th class="cell100 column2">Runways</th></tr>
                </thead>
              </table>
            </div>

            <div class="table100-body js-pscroll">
              <table>
                <tbody>
                  @defining(country.airports.toList) { airports =>
                    @for(a <- airports) {
                      <tr>
                        <td>@a.name</td>
                        <td>
                          
                          @if(a.runways.length > 0) {
                          
                            <table>
                              <thead>
                                <tr class="row100 head"><th class="cell100">le_ident</th><th class="cell100">Surface</th></tr>
                              </thead>
                            </table>
                            
                            <div>
                              <table>
                                <tbody>
                                    @for(r <- a.runways) {
                                    <tr>
                                      <td class="cell100">@r.le_ident</td>
                                      <td class="cell100">@r.surface match {
                                        case Some(s) => { @s.name }
                                        case None => { "" }
                                      }</td>
                                    </tr>
                                    }
                                </tbody>
                              </table>
                            </div>

                          } else {
                            No runways
                          }
                        </td>
                      </tr>
                    }                    
                  }

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  }

 
