@import luke.lunatech.DataManager
@import luke.lunatech.model.Country

@(title: String, items: List[(_, _, _, _)], total: Int)

    <h2 class="homeT">@title</h2>

    <table>
      <thead>
        <tr class="listT"><th>Rank</th><th>Country</th><th>No. Airports</th></tr>
      </thead>
      <tbody>
        @for(t <- items) {
          <tr><td>@t._1/@total</td><td>@t._2</td><td><a href="@routes.AppController.countryReport(t._4.toString)">@t._3</a></td></tr>
        }
      </tbody>
    </table>
