@import luke.lunatech.DataManager
@import luke.lunatech.model.Runway

@(runway: Runway)

  <tr>

    @for(f <- runway.getClass.getDeclaredFields.toList) {
      @f.setAccessible(true)
      <td>@f.get(runway) match {
        case Some(s) => { @s.toString }
        case None => { "" }
      }</td>
    }
    
  </tr>
  
  