@import luke.lunatech.DataManager
@import luke.lunatech.model.Country

@(title: String, items: List[(String, Int)], limit: Int)

    <h2 class="homeT">@title</h2>

    <table>
      <thead>
        <tr class="listT"><th>Rank</th><th>Indentification</th><th>No. Runways</th></tr>
      </thead>
      <tbody>
        @for(i <- 0 until limit) {
          <tr><td>@(i+1)/@items.length</td><td>@items(i)._1</td><td>@items(i)._2</td>
        }
      </tbody>
    </table>
