@import luke.lunatech.DataManager
@import luke.lunatech.model.Runway

@(runways: List[Runway])

	<table>
      <thead>
      	@if(runways.length > 0) {
	        <tr class="listT">
	        	@for(f <- runways(0).getClass.getDeclaredFields.toList) {
			  		<th>@f.getName</th>
			  	}
			</tr>
		} else {
			<tr class="listT"><th>No runways</th></tr>
		}
      </thead>
      <tbody>
     	@for(f <- runways) {
	  		@runwayRow(f)
	  	}
      </tbody>
    </table>
  
  