

@(form: Form[forms.CountrySearchForm.Data])(implicit request: MessagesRequestHeader)

@mainCss("Country Search") {
  	
  	@* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
      @form.globalErrors.map { error: FormError =>
        <div>
          @error.key: @error.message
        </div>
      }
    }

    @* Call on form submission *@
    @helper.form(action = routes.AppController.onCountrySearch()) {

      <div class="login-page">
        <div class="form">
          <form class="register-form">
            <p class="lunatech">Lunatech Airport Query</p>
            <p class="message"></p>
            <label for="sText"></label>
            <input type="text" name="sText" id="sText" placeholder="Search country by name or code"/>
            <button type="submit">Search</button>
          </form>
        </div>
      </div>
    }
}
