@import luke.lunatech.DataManager
@import luke.lunatech.model.Country

@(countries: List[Country])(form: Option[List[Html]])

  @main("Countries") {

    <div class="login-page">
      <div class="form">
        <p class="results">-- Countries --</p>
        <table>
          <thead>
            <tr class="coutriesT"><th>Name</th><th>Country Code</th></tr>
          </thead>
          <tbody>
    	    @for(c <- countries) {
          
            <tr><td><a href="@routes.AppController.country(c.code)">@c.name</a></td><td><a hre"@routes.AppController.country(c.code)">@c.code</a></td></tr>
          }
          </tbody>
        </table>
      </div>
    </div>
  }